//help on scroll
.scrollHelp {
	@include buttons-style;
	position: fixed;
	top: 5px;
	right: 50%;
	left: 50%;
	text-align: center;
	font-weight: bold;
	line-height: 35px;
	margin-left: -85px;
}
.--hide {
	display: none;
}
.--show {
	display: block;
}

//Global
* {
	color: $primary-color;
}

h2 {
	color: $secondary-color;
}

.homePage {
	.header {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 45px;
		align-items: center;
		@media screen and (max-width: 345px) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			flex-direction: column;
		}
		@media screen and (min-width: 1000px) {
			margin-bottom: 110px;
		}
		&__title {
			font-size: 1rem;
			@media screen and (min-width: 1000px) {
				margin-top: 20px;
				margin: 20px auto 0 auto;
				order: 1;
				font-size: 2.25rem;
			}
			@media screen and (min-width: 1335px) {
				margin: 0 0 0 0;
			}
		}
		&__logo {
			margin-right: 20px;
			@media screen and (max-width: 345px) {
				margin-right: 0px;
			}
			& img {
				width: 150px;
				@media screen and (min-width: 800px) {
					width: 200px;
				}
			}
		}
		&__nav {
			flex-basis: 100%;
			margin-top: 30px;
			@media screen and (min-width: 1000px) {
				margin-top: 0px;
				flex-basis: auto;
			}
		}
		&__tags {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
		}
		&__tag {
			font-weight: 600;
			font-size: 1rem;
			@include tags-style;
		}
	}

	//Main
	.main {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		.--hide {
			display: none;
		}
		.--show {
			display: block;
		}
		.photographInfos {
			display: flex;
			flex-direction: column;
			text-align: center;
			flex-basis: 100%;
			@media screen and (min-width: 800px) {
				flex-basis: 50%;
			}
			@media screen and (min-width: 1199px) {
				flex-basis: 33.33333%;
			}
			&__link {
				margin: auto;
				cursor: pointer;
			}
			&__caption {
				margin: 15px 0px 28px 0px;
			}
			&__tag {
				@include tags-style;
			}
		}
		.--hide {
			display: none;
		}
		.--show {
			display: block;
		}
	}
}
