@mixin tags-style {
	border-radius: 11px;
	border: 0.5px solid #c4c4c4;
	background: none;
	border-width: 0.5px;
	margin: 1.5px;
	font-weight: 600;
	font-size: 1rem;
	&:hover,
	&:focus {
		background: $primary-color;
		color: white;
		cursor: pointer;
	}
	&--lockhover {
		&:hover,
		&:focus {
			background: none;
			color: inherit;
			cursor: initial;
		}
	}
}

@mixin buttons-style {
	height: 35px;
	width: 170px;
	background-color: $primary-color;
	color: white;
	border-radius: 5px;
	border: transparent;
	font-weight: 600;
	font-size: 1rem;
	&:hover,
	&:focus {
		background-color: $secondary-color;
		color: black;
		cursor: pointer;
	}
}

@mixin hover-sort-button {
	&:focus,
	&:hover {
		cursor: pointer;
		background-color: $secondary-color;
		color: black;
	}
}
